/* Bendras stilius: */

* {
    box-sizing: border-box;

}

body{
    margin-top: 2%;
    margin-left: 6%;
    margin-right: 6%;

}

button{
    background-color: #f2f2f2;
    color: #000000;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'calibri light', times;
    font-size: 20px;             
  }
  
  button:hover {
    color: #a2a2a2;
  }

  button a{
    text-decoration: none;
    color: black;
  }
  button a:hover{
    color: #a2a2a2;
  }

  .myFunction{
    font-family: 'calibri light', times;
    font-size: 20px;
  }



/* Teksto styliai */

.juodah1{
	font-family: 'calibri light', times;
	font-size: 22pt;
	text-align: justify;
}

.juodah1name{
    font-family: 'calibri light', times;
	font-size: 20pt;
    text-align: justify;
    text-transform: uppercase;

}

.juodah2{
	text-align: justify;
	font-family: 'calibri light', times;	
}

.juodap{
	text-align: justify;
	text-indent: 0px;
	font-family: 'calibri light', times;
	font-size: 20px;	
}

.juodapnum{
	text-align: justify;
	font-family: 'calibri light', times;
	text-indent: 35px;
	font-size: 20px;
	letter-spacing: 0px;
	word-spacing: 0px;
	margin-block-start: 0em;
	margin-block-end: 0em;
		
}

.juodapais{
	text-align: justify;
	text-indent: 0px;
	font-family: 'calibri light', times;
	font-size: 16px;	
}

.kontaktai_inside .juodah1{
    margin-left: 0%;
}




/* HEADER */

.header{
    display: flex;
    /* width: 100%; */
    width: 89.4%;
    position: fixed;
    /* height: 50px; */
    top: 0%;
    background-color: #ffffff;
    word-break: break-word;
}



.logo{
    width: 25%;
    justify-content: flex-start;
    padding: 20px 10px;
    margin-left: -1%;
}

.meniu{
    /* width: 100%; */
    width: 75%;
    display: flex;
    justify-content: flex-end;
    padding: 20px 10px;
    margin-left: 1%;
    
}

.meniu a{
    margin-left: 5%;
}

.header a:hover{
    color: #a2a2a2;
  }


.header a{
    font-size: 30px;
    letter-spacing: 3px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: black;
}

.infinity{
    display: grid;
    justify-content: center;
    position: relative;
    margin-top: 5%;
}

.infinity h3:before{
    content: " ";
    display: block;
    width: 38%;
    height: 1px;
    background: black;
    position: absolute;
    left: 0%;
    top: 35%;
    z-index: -1;

}

.infinity h3:after{
    content: " ";
    display: block;
    width: 38%;
    height: 1px;
    background: black;
    position: absolute;
    right: 0%;
    top: 35%;
    z-index: -1;
}

.infinity h3{
    text-align: center;
    margin: 0;
}
.infinity h3 img{
    width: 100px;
    z-index: -1;
    position: relative;
    margin-bottom: -10%;
}

.infinity p{
    font-size: 20px;
    margin: 0;
    font-family: 'calibri light', times;
    text-align: center;
    z-index: -1;
}

/* INDEX */

.index_inside{
    background-color: #fdfdfd;
	align-content: center;
}

.index_inside img{
    float: left;
    margin-bottom: 15px;
    margin-top: 28px;
    margin-right: 5%;
    max-width: 100%;
}

.index_inside h1{
    padding-top: 1.5%;
}

/* APIE MANE */

.apieMane_inside{
    background-color: #fdfdfd;
	float: left;
    width: 100%;
    margin-top: 8%;

}

.apieMane_inside .juodah1{
    margin-left: 0%;
}

.apieMane_inside img{
    float: right;
    margin-left: 50px;
    margin-bottom: 15px;
    max-width: 100%;
}

.apieMane_inside p a{
    text-decoration: none;
    color: black;
}

.apieMane_inside p a:hover{
    font-weight: bold;
}

/* POKALBIS */


/* NAUJIENOS */



/* KONTAKTAI */

.kontaktai_inside{
    background-color: #fdfdfd;
    overflow: auto;	
}

.kontaktai_inside img{
    float: right; 
    margin-left: 50px;
    margin-bottom: 15px;
    max-width: 100%;
}

.kontaktai_inside pi{
    font-family: 'calibri light', times;
    font-size: 20px;
}

.kontaktai_inside i{
    font-size:24px;
}

.kontaktai_inside a:hover{
    font-weight: bold;
}


/* REGISTRACIJA */

.registracija h1{
    margin-left: 16px;
    font-family: 'calibri light', times;
    font-size: 28px;
}

input[type=submit]:hover {
    background-color: #ffffff;
  }




  /* MEDIA */

   @media (min-width:1205px){


	.mediaMeniu{
        display: none;	
    }
}

   @media (max-width: 900px){

    body{
        margin-top: 2%;
        margin-left: 6%;
        margin-right: 6%;

    }
    .header{
        display: none;
    }

    .sarasasbtn {
        background-color:  #fdfdfd;
        font-size: 36px;
        border: none;
        width: 100%;
        height: 100px;
        display: block;	
      }
      
      .mediaMeniu {
        position: fixed;
        display: inline-block;
        margin-left: -6%;
        margin-top: -22%;
        width: 100%;
      }
      
      .sarasas-content {
        display: none;
        position: unset;
        background-color: #fdfdfd;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        width: 100%;
       
      }
      
      .sarasas-content a {
        color: #000000;
        width: 100%;
        font-size: 30px;
        font-family: central;
        text-decoration: none;
        font-variant: normal;
        display: flex;
        padding: 18px ;
      }
      
      .sarasas-content a:hover {
        background-color: #e9e9e9;
        width: 100%;
      }
      
      .mediaMeniu:hover .sarasas-content {
          display: block;
      }
      
      .mediaMeniu:hover .sarasasbtn {
          background-color: #fdfdfd;
          
      }

  } 

  @media (max-width: 900px){
    .infinity{
        margin-top: 25%;
        display: grid;
        justify-content: center;
        position: relative;
        z-index: -1;
    }

    
    .infinity h3:before{
        content: " ";
        display: block;
        width: 28%;
        height: 1px;
        background: black;
        position: absolute;
        left: 5%;
        top: 35%;
        z-index: -1;
    
    }
    
    .infinity h3:after{
        content: " ";
        display: block;
        width: 28%;
        height: 1px;
        background: black;
        position: absolute;
        right: 5%;
        top: 35%;
        z-index: -1;
    }

    .infinity p{
        font-size: 20px;
        margin: 0;
        font-family: 'calibri light', times;
        text-align: center;
        z-index: -1;
        margin-left: 1%;
    }
      

    input[type=text],[type=datetime],[type=email],[type=number],[type=date], textarea {
        width: 80%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        margin-left: 16px;
        resize: vertical;
        position: static;
        font-family: 'calibri light', times;
        
      }
      
      input[type=checkbox]{
          margin-left:3%;
          margin-right: -2%;
          margin-top: 0.7%;
          float: left;
          font-family: 'calibri light', times;
          
          
      }
      input[type=submit] {
        background-color: #ffffff;
        color: #000000;
        padding: 12px 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: pointer;
        font-family: 'calibri light', times;
        font-size: 20px;
         margin-left: 16px;
         margin-bottom: 10%;
         margin-top: 2%;
        
      }

    .juodapnum2 {
        font-family: 'calibri light', times;
        text-indent: 20px;
        font-size: 18px;
        letter-spacing: 0px;
        word-spacing: 0px;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-left: 0%;
        margin-right: 4%;
    }


    .index_inside{
        background-color: #fdfdfd;
        align-content: center;
        width: 100%;
    }

    .apieMane{
        margin-top: 25%;
    }

    .apieMane_inside{
        background-color: #fdfdfd;
        float: left;
        width: 100%;
        margin-bottom: 8%;
    }

    .kontaktai_inside{
        background-color: #fdfdfd;
        overflow: auto;	
        width: 100%;
    }

    .naujienos{
        width: 100%;
        margin-top: 25%;
    }

    .pokalbis{
        width: 100%;
        margin-top: 25%;
    }

    /* Teksto styliai */

.juodah1{
	font-family: 'calibri light', times;
	font-size: 22pt;
	text-align: justify;
}

.juodah1name{
    font-family: 'calibri light', times;
	font-size: 20pt;
	text-align: justify;

}

.juodah2{
	text-align: justify;
	font-family: 'calibri light', times;	
}

.juodap{
	text-align: justify;
	text-indent: 0px;
	font-family: 'calibri light', times;
	font-size: 20px;	
}

.juodapnum{
	text-align: justify;
	font-family: 'calibri light', times;
	text-indent: 0px;
	font-size: 20px;
	letter-spacing: 0px;
	word-spacing: 0px;
	margin-block-start: 0em;
	margin-block-end: 0em;
		
}

.juodapais{
	text-align: justify;
	text-indent: 0px;
	font-family: 'calibri light', times;
	font-size: 16px;	
}

.kontaktai_inside .juodah1{
    margin-left: 0%;
}


  } 
